// Variables for color scheme
$red: #c51619;
$yellow: #eda826;
$orange: #e27415;
$green: #229f67;
$gray: #0E0000;
$light-gray: #F4F4F4;
$emerald: #2e9285;
$lavender: #c1b8c8;
$coffee: #34252f;
$crayola: #d9dd92;
$flame: #dd6031;
$pastel: #f2f0c8;
