$grid-gap: 24px;

.grid {
  display: flex;  
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: $grid-gap;

  .grid__item {
    &.one-half {
      width: calc((100% - #{$grid-gap}) / 2);
    }
    &.one-third {
      width: calc((100% - (#{$grid-gap} * 2)) / 3);
    }
    &.one-quarter {
      width: calc((100% - (#{$grid-gap} * 3)) / 4);
    }
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    .grid__item {
      &.small-one-whole {
          width: 100%;
        }
      &.small-one-half {
        width: calc((100% - (#{$grid-gap})) / 2);
      }
    }
  }  
}
