.dashboard {
  padding-bottom: 64px;
  min-height: 80vh;

  .dashboard__hero {
    background-color: $crayola;
    background-image: asset-url('slowy_bg.png');
    background-repeat: repeat;
    background-size: 128px;
    padding-top: 56px;
    padding-bottom: 72px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px $lavender;
    
    .container {
      display: flex;
      align-items: center;
      gap: 16px;

      h1 {
        font-size: 48px;
        color: $coffee;
        margin: 0;
      }
    }
  }
  .dashboard__content {

    .dashboard__empty {
      font-size: 24px;
      text-align: center;
      padding: 96px 0;
    }

    .dashboard__user {
      .avatar {
        width: 96px;
        height: 96px;
        margin-top: -48px;
        margin-right: 16px;
      }

      span {
        font-weight: bold;
      }

      .simple-link {
        display: inline-flex;
        margin-left: 8px;
      }
    }

    .dash-h2 {
      margin-top: 48px;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      h2 {
        color: $emerald;
        display: flex;
        align-items: center;
        gap: $gap-s;

        i {
          color: $coffee;
        }
      }

      div {
        height: 1px;
        background-color: $lavender;
        flex-grow: 1;
      }
    }
  }
}