

.vehicle {
  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  padding: 0 0 0 64px;

  .links {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 40px 0;
  }
}

.vehicle-description {
  padding: 48px;
}

.vehicle-description h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
