<div class="container">
  <h2 id="booking-title">My bookings</h2>
  <ul class="grid">
    <% @bookings.each do |booking| %>
      <li class="grid__item one-half small-one-whole">
        <%= render "booking_card", booking: booking %>
      </li>
    <% end %>
  </ul>
  <h2 id="vehicle-title">My vehicles</h2>
  <ul class="grid">
    <% @vehicles.each do |vehicle| %>
      <li class="grid__item one-third small-one-whole">
        <%= render "vehicles/vehicle_card", vehicle: vehicle %>
      </li>
    <% end %>
  </ul>
</div>
