<div class="container">
  <p id="booking-title">My bookings</p>
  <ul class="grid">
    <% @bookings.each do |booking| %>
      <li class="grid__item one-half small-one-whole">
        <%= render "booking_card", booking: booking %>
      </li>
    <% end %>
  </ul>S

  <p id="vehicle-title">My vehicles</p>
  <ul class="d-flex flex-wrap">
    <% @vehicles.each do |vehicle| %>
      <li>
        <%= render "vehicles/vehicle_card", vehicle: vehicle %>
      </li>
    <% end %>
  </ul>

</div>
