<div class="container"><h1>Edit a booking</h1>
    <%= simple_form_for [@vehicle, @booking] do |f| %>
    <%= f.input :date %>
    <%= f.button :submit, "Edit", class:"button primary"%>
<% end %>

</div>
