<turbo-frame id="notifications">
    <% if @lendings.size > 0 %>
        <% @lendings.each do |lending| %>
            <% if lending.accepted.nil? %>
                <div>
                    <span>My vehicles bookings</span>
                    <i class="fa-solid fa-circle-exclamation text-warning"></i>
                </div>
            <% end %>
        <% end %>
    <% end %>
</turbo-frame>
