<div class="footer">
  <div class="grid">
    <div class="grid__item one-third small-one-whole medias mt-3">
      <h5 class="text-center">Our team</h5>
      <ul class="text-center">
        <li><i class="fa-regular fa-calendar-days"></i> Anoula Croville</li>
        <li><i class="fa-solid fa-code-branch"></i> Kévin Thomas</li>
        <li><i class="fa-solid fa-person-biking"></i> Emmanuel Landron</li>
        <li><i class="fa-solid fa-bolt"></i> Gaëlle Ozanon</li>
      </ul>
    </div>
    <div class="grid__item one-third small-one-whole mt-3">
      <h5 class="text-center">About Slowy</h5>
      <p class="text-center">
        We support soft mobility. We want to provide our friends and fellows with pure fresh air, by offering them the ability to borrow bikes, scooters or even overboards from their neighbours.<br />
        Simply book vehicles with Slowy and ride your world without damaging it!
      </p>
    </div>
    <div class="grid__item one-third small-one-whole medias mt-3">
      <h5 class="text-center">Follow us</h5>
      <div class="text-center">
        <a href="#"><i class="fab fa-instagram media"></i></a>
        <a href="#"><i class="fab fa-facebook media"></i></a>
        <a href="#"><i class="fab fa-twitter media"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <%= image_tag "logo.svg" %>
    <span>&copy; Slowy &bull; 2022</span>
  </div>
</div>
