<div class="footer">
  <div class="grid">
   <div class="grid__item one-third small-one-whole medias mt-3">
       <h5 class="text-center">Qui sommes-nous?</h5>
       <ul class="text-center">
        <li><i class="fa-regular fa-calendar-days"></i> Anoula Croville</li>
        <li><i class="fa-solid fa-code-branch"></i> Kévin Thomas</li>
        <li><i class="fa-solid fa-person-biking"></i> Emmanuel Landron</li>
        <li><i class="fa-solid fa-bolt"></i> Gaëlle Ozanon</li>
       </ul>
    </div>
    <div class="grid__item one-third small-one-whole mt-3">
      <h5 class="text-center">A propos</h5>
      <p class="text-center">En tant que plateforme de location de véhicles modes doux, notre mission est d'apporter une bouffée d'air frais aux citadins en proposant un accès 24h/24 et 7j/7 à des voitures en libre-service proches de vous. Avec Getaround, réservez simplement et roulez sans polluer.</p>
    </div>
     <div class="grid__item one-third small-one-whole medias mt-3">
      <h5 class="text-center">Nous contacter:</h5>
      <div class="text-center">
        <a href="#"><i class="fab fa-instagram media"></i></a>
        <a href="#"><i class="fab fa-facebook media"></i></a>
        <a href="#"><i class="fab fa-twitter media"></i></a>
      </div>
    </div>

    <div>
    </div>
  </div>
</div>
