.button {
  min-height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px!important;
  padding-right: 16px!important;  
  gap: 8px;
  background-size: 0% 100%;
  background-image: linear-gradient($coffee 0 0);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: all .15s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
  width: fit-content;
  min-width: 100px;
  cursor: pointer;
  border-width: 0;

  &:hover {
    background-size: 100% 100%;
  }

  &.primary {
    background-color: $flame;
    background-image: linear-gradient($coffee 0 0);
    color: white;
  }

  &.secundary {
    border: solid 1px $flame;
    background-image: linear-gradient($flame 0 0);
    color: $flame;
    &:hover {
      color: white;
    }
  }
}

.simple-link {
  color: $emerald;
  transition: all .15s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;

  &.coffee {
    color: $coffee;
  }

  &:hover {
    color: $flame;
  }
}