/* VEHICLE CARD */

.card-vehicle {
  background: white;
  box-shadow: $card-shadow;
  width: 100%;
  position: relative;

  &:hover {
    box-shadow: $card-shadow-focus;
  }

  .card-vehicle-picture {
    position: relative;

    img:not(.card-vehicle-user) {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }

    .card-vehicle-user {
      position: absolute;
      right: 16px;
      bottom: -20px;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    .type-tag {
      position: absolute;
      top: 12px;
      left: -6px;
      display: inline-block;
      text-transform: uppercase;
      padding: 2px 8px;
      background-color: $coffee;
      color: white;
      border-radius: 4px;

      &:after {
        content: "";
        position: absolute;
        left: 2px;
        top: 100%;
        border-left: 4px solid transparent;
        border-top: 4px solid black;
        opacity: .5;
      }
    }
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  a {
    color: $coffee;
    transition: all .15s ease-in-out;
    text-decoration: none;

    &:hover {
      color: $flame;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .card-vehicle-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $lavender;
  }

  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
}

/* BOOKING CARD */

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: $card-shadow;
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  
  .card-booking-image {
    width: 50%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .card-booking-infos {
    width: 50%;
    padding: 16px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $crayola;

    .card-booking-infos-buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}