/* SHARED STYLES */

.text-tag {
  position: absolute;
  top: 12px;
  left: -6px;
  display: flex;
  align-items: center;
  gap: $gap-xs;
  text-transform: uppercase;
  padding: 2px 8px;
  background-color: $coffee;
  color: white;
  border-radius: $border-radius;

  &:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 100%;
    border-left: 4px solid transparent;
    border-top: 4px solid black;
    opacity: .5;
  }

  i {
    height: 32px;
    width: 32px;
    background-color: $flame;
    margin-top: -8px;
    margin-bottom: -8px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &.big {
      height: 40px;
      width: 40px;
      margin-top: -12px;
      margin-bottom: -12px;
      font-size: 20px;
    }

    &.confirmed {
      background-color: $green;
    }

    &.error {
      background-color: $red;
    }
  }
}

/* VEHICLE CARD */

.card-vehicle {
  background: white;
  box-shadow: $card-shadow;
  width: 100%;
  position: relative;

  &:hover {
    box-shadow: $card-shadow-focus;
  }

  .card-vehicle-picture {
    position: relative;

    img:not(.card-vehicle-user) {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }

    .card-vehicle-user {
      position: absolute;
      right: 16px;
      bottom: -20px;
      width: 40px;
      height: 40px;
      object-fit: cover;
      background-color: white;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  a {
    color: $coffee;
    transition: all .15s ease-in-out;
    text-decoration: none;

    &:hover {
      color: $flame;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .card-vehicle-infos {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $crayola;

    .card-vehicle-pricing {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/* BOOKING / LENDING CARD */

.card-booking {
  background: white;
  box-shadow: $card-shadow;
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  
  .card-booking-image {
    width: 50%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .card-booking-infos {
    width: 50%;
    padding: 16px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-s;
    background-color: $pastel;
    text-align: center;

    h3 {
      width: 100%;
      margin: 0;
      padding-bottom: 16px;
      border-bottom: $border;
    }

    .infos-details {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: $gap-s;

      div {
        display: flex;
        align-items: center;
        gap: $gap-s;

        &.date-price {
          width: 100%;
          justify-content: center;
          font-weight: bold;

          div {
            width: fit-content;
            background-color: white;
            border-radius: $border-radius;
            padding: 2px 4px;
          }
        }
      }

      .avatar {
        width: 40px;
        height: 40px;
      }
    }

    .infos-buttons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $gap-s;
      padding-top: 16px;
      border-top: $border;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card-booking {
    flex-direction: column;
    .card-booking-image {
      width: 100%;
      height: 250px;
    }
    .card-booking-infos {
      width: 100%;
    }
  }
}
