.footer {
  background: $lavender;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 64px;
  color: $coffee;

  h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }

  .media{
    margin: 10px;
    color: $coffee;
  }
  .copyright {
    width: 100%;
    color: $emerald;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap-s;
    margin-top: 24px;

    img {
      height: 24px;
      width: auto;
    }
  }
}


