.footer {
  margin-top: 64px;
  background: $lavender;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  padding: 0px 90px;
  color: $coffee;
}

.media{
  margin:10px;
  color: black;
}
