.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px $lavender;
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-brand img {
    width: 96px;
  }
}

.navbar-nav {
  align-items: center;
  gap: 8px;

  .add-vehicle {
    margin-right: 8px;
  }

  .nav-link {
    color: $emerald;
  }
}

.nav-link {
  #notifications {
    div {
      display: inline-block;
      span {
        display: none;
      }
    }
  }
}

.dropdown-item.contingent {
  padding: 0;

  #notifications {
    div {
      margin: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    }
  }
}