.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: white;
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-brand img {
    width: 96px;
  }
}

.navbar-nav {
  align-items: center;
  gap: 8px;

  .add-vehicle {
    margin-right: 8px;
  }

  .nav-link {
    color: $emerald;
  }
}
