<div class="banner <%= custom_class %>">
  <div class="container">
    <h1>Borrow your <strong data-controller = "banner">bike</strong> with Slowy!</h1>
    <p>Move slowly and rule the world.</p>
  </div>
</div>
