<div class="card-vehicle">
  <div class="card-vehicle-picture">
    <%= cl_image_tag vehicle.photo.key, height: 300, width: 400, crop: :fill %>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-vehicle-user avatar-bordered" />
  </div>
  <div class="card-vehicle-infos">
    <div>
      <h3>
        <%= link_to vehicle.name, vehicle_path(vehicle) %>
      </h3>
      <p><%= vehicle.vehicle_type %></p>
    </div>
    <h3 class="card-vehicle-pricing"><%= vehicle.price %>€</h3>
  </div>
</div>
