<%= render "banner", custom_class: "home" %>
<div class="container">
<h2 id="vehicle-title">Choose a vehicle</h2>
  <ul class="d-flex flex-wrap">
    <% @vehicles.each do |vehicle| %>
      <li>
        <%= render "vehicle_card", vehicle: vehicle %>
      </li>
    <% end %>
  </ul>
</div>
